<table>
    <tr valign="top">
        {% if group.photo_id %}
        <td><img src="{{ get_thumbnail_url(group.photo_id, 120) }}"></td>
        {% endif %}
        <td>{{ group.title }}</td>
        <td>
            {% if current_user.has_edit_rights %}
                <a href="{{ url_for('main.edit_group', group_id=group.id) }}">Edit group</a><br>
                <a href="{{ url_for('main.delete_group', group_id=group.id) }}">Delete group</a>
            {% else %}
                <a href="{{ url_for('main.show_group', group_id=group.id) }}">Show group</a>
            {% endif %}
        </td>
    </tr>
</table>