<table>
    <tr valign="top">
        {% if item.photo_id %}
        <td>
            <p>
                <img src="{{ get_thumbnail(item.photo_id, 120) }}">
            </p>
        </td>
        {% endif %}
        <td>{{ item.title }} <br> {{ item.price }}</td>
        <td>
            {% if current_user.permission in ('manager', 'admin') %}
                <p>
                    <a class="btn btn-default" href="{{ url_for('main.edit_item', item_id=item.id) }}" role="button">Edit</a><br>
                </p>
                <a class="btn btn-danger" href="{{ url_for('main.delete_item', item_id=item.id) }}" role="button">Delete </a>
            {% else %}
                <p>
                    <a class="btn btn-default"  role="button">Add to cart</a><br>
                </p>
            {% endif %}
        </td>
    </tr>
</table>