{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% include '_list_of_categories.html' %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Previous page</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Next page</a>
    {% endif %}
    {% if current_user.permission in ('manager', 'admin') %}
        <a class="btn btn-default" href="{{ url_for('main.add_category') }}" role="button">Add category</a>
    {% endif %}
{% endblock %}